@tailwind base;
@tailwind components;
@tailwind utilities;

.img-wrapper {
  background-image: url('../public/lipay.svg');
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #c9e265;
}

.header {
  height: 100vh;
  background-color: #c9e265;
}
